@use '@/styles/abstract/mixins' as mix;
@use '@/styles/abstract/variables' as var;

.hamburger {
  z-index: 10;
  position: relative;
  display: none;
  width: 32px;
  height: 32px;
  transition: transform 0.5s;

  & span {
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: var.$color-primer;
  }

  &.open {
    transform: rotate(90deg);
  }

  @include mix.media-tablet {
    @include mix.flex($direction: column, $justify: space-between);
  }
}
