@use '@/styles/abstract/mixins' as mix;
@use '@/styles/abstract/variables' as vars;

.nav {
  @include mix.flex($alignItems: center);
  @include mix.media-tablet {
    justify-content: center;
  }
}

.nav__list {
  @include mix.flex($gap: 20px);
  @include mix.media-tablet {
    flex-direction: column;
    align-items: center;
  }
}

.nav__item {
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
  
  &.active {
    border-bottom: 2px solid vars.$color-primer;
  }
}