@use '@/styles/abstract/mixins' as mix;
@use '@/styles/abstract/variables' as vars;

.calc {
  @include mix.flex($direction: column, $alignItems: center, $gap: 20px);
  width: 100%;
  padding-top: 20px;
}

.calc__heading {
  text-align: center;
  font-weight: 400;
}

.calc__toolbar {
  @include mix.flex($justify: center);
  width: 100%;
}

.calc__add {
  @include mix.add-btn();
}