@use '@/styles/abstract/mixins' as mix;
@use '@/styles/abstract/variables' as vars;

.headings {
  text-align: left;
  text-wrap: wrap;
  width: 25%;
}

.item__btns {
  @include mix.flex($alignItems: center, $justify: center, $gap: 20px);
  flex-wrap: wrap;
}

.item__editBtn, .item__deleteBtn {
  padding: 3px;

  @include mix.hover {
    &:hover {
      color: vars.$color-font-base;
      border: 3px solid vars.$color-font-base;
    }
  }

}

.item__editBtn {
  border: 3px solid vars.$color-warning;
  color: vars.$color-warning;
}

.item__deleteBtn {
  border: 3px solid vars.$color-error;
  color: vars.$color-error;
}