.header {
  @include mix.flex($justify: space-between);
  border-bottom: 1px solid vars.$color-primer;
  border-top: 1px solid vars.$color-primer;
  padding: 10px 30px;
}

.mobile__menu {
  z-index: 10;
  @include mix.flex($justify: space-between);

  @include mix.media-tablet {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    gap: 50px;
    flex-direction: column-reverse;
    justify-content: flex-end;
    background-color: bisque;
    padding: 30px 0;
    transform: translateX(99999px);
    transition: transform 0.5s;

    &.active {
      transform: translateX(0);
    }
  }
}