@use '@/styles/abstract/mixins' as mix;
@use '@/styles/abstract/variables' as vars;

.logoBtn {
  @include mix.flex($alignItems: center, $gap: 5px);
  
  & span {
    @include mix.flex($alignItems: center);
    padding: 5px;
    background-color: vars.$color-primer;
    border-radius: 50%;
  }
}